---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="translation" title="Translation">
          Translation by selecting words.
        </Feature>
        <Feature icon="mdi:bookmark-outline" title="Bookmarking">
          Bookmarking/Unbookmarking words (with real-time synchronization to the Baicizhan APP).
        </Feature>
        <Feature icon="mdi:search" title="Search">
          Word search and display of detailed information.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/word-details.webp">
    <h2>Word details</h2>
    <p class="text-2xl">
      Learn words from its variants, sentences, phrases, synonyms, antonyms, similar_words and more.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/manage-wordbook-min.gif" reverseImg={true}>
    <h2>Manage wordbook</h2>
    <p class="text-2xl">
      This extension synchronize your collected words to the Baicizhan APP with real-time, feel free to learn vocabulary with on Apps or laptops.
    </p>
  </ContentMedia>
  <!-- <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section> -->
</DefaultLayout>
