---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        <a href="/privacy-policy">Privacy Policy</a> • 
        <a href="https://honwhy.wang" target="_blank">Links</a> • &copy; {currentYear} - mangostana-ai. Made with ❤️ by <a
          href="https://github.com/honwhy">Honwhy Wang</a
        >.
      </p>
    </div>
  </section>
</footer>
