---
import { Icon } from 'astro-icon/components'

const { src = '/collect-word-min.gif' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-4xl md:text-left lg:text-6xl">
          <slot><span class="text-gradient">Word-100-Helper</span> Learning English begins with mastering vocabulary.</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://github.com/honwhy/words-100-helper/releases/download/v0.0.1/words-100-helper-0.0.1-chrome.zip">
            <Icon name="ion:logo-chrome" />
            Chrome
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://github.com/honwhy/words-100-helper/releases/download/v0.0.1/words-100-helper-0.0.1-chrome.zip"
          >
            <Icon name="ion:logo-edge" />
            Edge
          </a>
          <a
          class="button has-icon color-neutral"
          href="https://addons.mozilla.org/en-US/firefox/addon/words-100-helper/"
        >
          <Icon name="ion:logo-firefox" />
          Firefox
        </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
